/* nova: 2084 website theme css! */
body {
	background-color: #000;
	align-content: center;
	justify-content: center;
}

h1 {
	color: cyan;
	font-size: 4rem;
	filter: drop-shadow(0px 0px 5px currentColor);
}

